ol > li{
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
}

.header{
    min-height: 40vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

#movable{
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 1;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: top 0.5s;
}

#movable nav{
    display: flex;
    padding:1% 6%;
    justify-content: space-between;
    align-items: center;
}

#movable nav img{
    width: 150px;
}

#movable .nav-links{
    flex: 1;
    text-align: right;
}

#movable .nav-links ul li{
    display: inline-block;
    padding:8px 12px;
    position: relative;
}

#movable .nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 11px;
}

#movable .nav-links ul li::after{
    content:"";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin-top: 5px;
    transition: 0.5s;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.header-text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 5%;
    transform: translate(-50,-50);
    text-align: center;
}

.header-text-box h1{
    font-size: 40px;
    word-spacing: 1px;
    color: black;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
}

.header-text-box p{
    margin: 10px 0 40px;
    font-size: 15px;
    color: black;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
}

nav .fa{
    display: none;
}

.members{
    width: 80%;
    margin-left: 37px;
    padding-top: 30px;
}

.members-col{
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.members-col img{
    width: 300px;
    height: 340px;
    border-radius: 20px;
}

.layer{
    background: transparent;
    height: 340px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    transition: 0.7s;
    opacity: 0;
}

h3{
    font-family:'Press Start 2P', cursive;
}

.layer:hover{
    background: rgba(57, 147, 207,0.7);
    opacity: 1;
    cursor:pointer;
}

.layer h3{
    width: 100%;
    word-spacing: -13px;
    font-weight: 500;
    color: black;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
    transition: 0.7s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
    cursor: pointer;
}

footer{
    height: 150px;
    text-align: center;
    background-color: #fff;
}

footer p{
    font-family: 'Poppins', sans-serif;
}

.why{
    display: inline-flex;
}

h5{
    margin-left: 4px;
    margin-right: 4px;
    font-family: 'Poppins', sans-serif;
}

.Home-text{
    font-family:'Press Start 2P', cursive;
    margin-top: 50px;
    text-align: center;
    width: 1000px;
    min-height: 200px;
    margin-left: 12%;
}

.nofooter{
    background-image: linear-gradient(#71C0D8, #12448E);
}

#movable .nav-links ul li:hover::after{
    width:100%
}

@media(max-width: 800px){
    .header-text-box{
        font-size: 100px;
        top: 20%;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position:absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding-left:30px;
    }

    .Home-text{
        width: 200px;
        min-height: 200px;
    }

    #movable{
        position: relative;
    }

    .header-text-box {
        top:29%
    }

    .members-col{
        margin-bottom: 15px;
    }

    .members-col img{
        width: 135px;
        height: 155px;
        border-radius: 20px;
    }
}